body {
  background-image: url(../media/background.webp);
}
.container {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.select {
  color: rgb(40, 131, 188);
  width: 30%;
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  border: none;
}
option{
  color: rgb(40, 131, 188);
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  gap:40px
  
}
.box{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(208, 233, 233);
  border-radius:7px;
}
.days img {
  width: 50%;
}

.heading {
  display: flex;
  padding: 5px;

  margin-left: 20px;
}

.heading h2 {
  margin-left: 30px;
}
